{% from "bootstrap5/form.html" import render_form %} {% block content %}
{%
include "header.html" %}

<!-- Page Header -->

<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/login-bg.jpg') }}')">
    <header class="hero-header">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5 text-center">
                    <div class="page-heading">
                        <h1 class="mb-3">Log In</h1>

                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show text-center" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}

                        {{ render_form(form) }}

                        <span class="subheading d-block mt-3">Welcome Back!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
</header>


</main>

{% include "footer.html" %} {% endblock %}
